body {
   background-color: pink;
}

/* ----------------------
FACEBOOK Buttons
---------------------- */

.facebook-btn {
   padding: 6px 12px;

   cursor: pointer;

   color: #fff;
   border: none;
   border-radius: 2px;
   outline: none;
   background-color: #3B5998;
   box-shadow: inset 0 1px 1px 0 #5679c2;
   text-shadow: 1px 1px #233c71;

   font-size: 1rem;
}

.facebook-btn:hover {
   background-color: #244487;
}

.facebook-btn:active {
   background-color: #163169;
}

/* ----------------------
3D Buttons
---------------------- */

.btn-3d {
   cursor: pointer;

   border: none;
   outline: none;
}

.btn-3d-1 {
   position: relative;

   padding: 10px 20px;

   color: #fff;
   border-radius: 2px;
   background-color: #25f49d;
   box-shadow: inset 0 3px 3px 0 #5afab7,
   -1px 1px 1px 0 #027343,
   -2px 2px 2px 0 #0c8250,
   -3px 3px 2px 0 #1d9d67;
   text-shadow: 1px 0px 2px #047d38;

   font-size: 1.2rem;
}

.btn-3d-1:hover {
   background-color: #00ec89;
   box-shadow: inset 0 3px 3px 0 #25f49d,
   -1px 1px 1px 0 #027343,
   -2px 2px 2px 0 #0c8250,
   -3px 3px 2px 0 #1d9d67;
}

.btn-3d-1:active {
   top: 2px;
   left: -2px;

   background-color: #00ec89;
   box-shadow: inset 0 3px 3px 0 #25f49d,
   -1px 1px 1px 0 #027343;
}